<form class="form" (ngSubmit)="save()">
  <h2>Nova despesa</h2>

  <div class="area">
    <label for="description">Descrição</label>
    <input id="description" type="text" name="description" [(ngModel)]="newExpense().description" placeholder="Ex: Supermercado">
  </div>

  <div class="line">
    <div class="area">
      <label for="value">Valor R$</label>
        <input id="value" type="text" inputMode="numeric" name="displayValue" min="0.01" step="0.01" [(ngModel)]="newExpense().value" 
                      [value]="displayValue()" (input)="onValueInput($event)" placeholder="R$ 0,00">
    </div>

    <div class="area">
      <label for="date">Data</label>
      <input id="date" type="date" name="date" [(ngModel)]="newExpense().date">
    </div>
  </div>

  <div class="area">
    <label for="category">Categoria</label>
    <select id="category" name="category" [(ngModel)]="newExpense().category">
      
      @for (c of categories(); track c) {
        <option [value]="c">{{ c }}</option>
      }
    </select>
  </div>

  @if (error()) {
    <p class="error" *ngIf="error">{{ error() }}</p>
  }

  <button type="submit">Adicionar despesa</button>
</form>
